#main-container > .img-container > img {
    width: 175px;
    height: 175px;
    margin: 0;
}

.img-container:hover {
  transform: scale(1.15);
}

.img-container {
  display: inline-block;
  margin: 10px 20px;
  padding: 10px;
  border: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shake {
  animation: shake 0.5s;
}